{% extends 'base.html' %}

{% block title %} Cadastro {% endblock %}

{% block content %}
<div class="row">

    <div class="col-md-3">

    </div>

    <div class="col-md">
        <h1 class="text-center">Cadastro</h1>
        <br>

        {% if messages %}
        <ul>
            {% for message in messages %}
                <li style="list-style: none;" {% if message.tags %}class="alert {{message.tags}}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        <br>
        <form action="{% url 'cadastro' %}" method="POST">
            {% csrf_token %}
            <label>Nome:</label>
            <input class="form-control" type="text" placeholder="Nome... " name="username">
            <br>
            <br>
            <label>E-mail:</label>
            <input class="form-control" type="email" placeholder="Email..." name="email">
            <br>
            <br>
            <label>Senha:</label>
            <input class="form-control" type="password" placeholder="Senha..." name="senha">
            <br>
            <br>
            <label>Confirmar senha:</label>
            <input class="form-control" type="password" placeholder="Confirmar_senha..." name="confirmar_senha">
            <br>
            <br>
            <input class="btn btn-success col-3" type="submit" value="cadastrar">
            <a class="btn btn-warning col-3" href="/auth/login/">Login</a>
            <br>
        </form>
    </div>

    <div class="col-md-3">

    </div>

</div>
{% endblock %}